.header {
  // padding-top: 70px;

  &-bg {
    position: relative;
    height: 90vh;
    width: 100%;
    object-fit: cover;
    background-position: center;

    @media screen and (max-width: 750px) {
      display: none;
    }

    &.portrait {
      display: none;
      border-radius: 23px;
      margin: 0 auto;

      @media screen and (max-width: 750px) {
        display: block;
        // width: 500px;
      }
    }
  }

  &-items {
    position: absolute;
    bottom: 100px;
    height: 100%;
    width: 100%;
    flex-direction: column;

    @media screen and (max-width: 650px) {
      @include flex(center, center);
    }

    @media screen and (max-width: 600px) {
      padding-top: unset;
    }
  }

  &-links {
    @include flex(center, center);
    position: absolute;
    height: 100vh;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: 460px) {
      flex-direction: column;
    }
  }

  &-desc {
    text-align: start;
    font-weight: 200;
    color: #ffffffd6;
    line-height: 28px;
    letter-spacing: 0.5px;
  }

  &-link {
    background-color: $gold-color;
    padding: 10px 25px;
    border-radius: 50px;
    color: #000;
    align-items: center;
    @include flex(center, center);
    gap: 7px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;

    &_later {
      background-color: transparent;
      padding: 10px 25px;
      border-radius: 50px;
      color: #ffffff;
      align-items: center;
      @include flex(center, center);
      border: 1px solid $gold-color;
      gap: 7px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
      transition: all 0.2s ease-in-out;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:hover {
        background-color: $gold-color;
        color: #000;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-info {
    @include flex(start, center);
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 100px;
    gap: 10px;

    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  &-title {
    @include flex(start, center);
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 48px;
    text-align: left;
    color: #fff;

    @media screen and (max-width: 650px) {
      text-align: center;
      margin: 0 auto;
    }
  }

  &-texts {
    @include flex(center, unset);
    gap: 20px;

    @media screen and (max-width: 650px) {
      text-align: center;
      margin: 0 auto;
    }
  }

  &-item {
    @include flex(center, unset);
    gap: 6px;
  }

  &-year {
    color: #fff;
  }

  &-icon svg {
    fill: #fff;
  }
}
