.nav {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 50px;

  &-container {
    background-color: $navbar-background;
    max-width: 1360px;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  &-content {
    @include flex(center, space-between);
  }

  &-list {
    @include flex(center, unset);
    gap: 40px;

    @media screen and (max-width: 930px) {
      gap: 7px;
    }

    &_active {
      transform: translateX(0);
    }

    @media screen and (max-width: 1200px) {
      position: fixed;
      top: 0;
      right: 0;
      width: 480px;
      height: 100%;
      background: #000;
      transform: translateX(100%);
      transition: 0.4s ease-in-out;
      align-items: flex-start;
      gap: 80px;
      color: #000;
      z-index: 999;
      padding: 20px;
    }

    @media screen and (max-width: 460px) {
      width: 100%;
    }

    &.active {
      transform: translateX(0);
    }
  }

  &-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    z-index: 999;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &-links {
    @include flex(center, unset);
    gap: 15px;

    @media screen and (max-width: 930px) {
      gap: 7px;
    }

    @media screen and (max-width: 1200px) {
      align-items: center;
      justify-content: center;
      gap: 24px;
      background: #fff;
      padding: 20px;
      width: 100%;
      border-radius: 5px;
      box-shadow: $gold-color 0px 2px 10px;
      margin-top: 80px;
    }
  }

  &-menu__close {
    position: absolute;
    top: 30px;
    right: 27px;
    border: none;
    background: #fff;
    padding: 11px;
    border-radius: 4px;
    display: none;

    @media screen and (max-width: 1200px) {
      display: block;
      z-index: 999;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &-items {
    @include flex(center, unset);
    gap: 20px;
  }

  &-link {
    color: $link-color;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.41px;
    @include adaptive-value("font-size", 16, 15);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #ffd700;
      color: #ffd700;
    }

    @media screen and (max-width: 1200px) {
      color: $navbar-background ;
    }

  }

  &-logo__list {
    @include flex(center, unset);
    background-color: transparent;
    height: 74px;
    padding: 14px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    @include adaptive-value("font-size", 18, 15);

    @media screen and (max-width: 600px){
      padding: 14px 0;
    }
  }

  &-logo_image {
    @include adaptive-value("width", 120, 90);

    @media screen and (max-width: 410px){
      display: none;
    }
  }

  &-menu {
    border: none;
    border-radius: 4px;
    display: none;
    background-color: white;
    padding: 6px;

    @media screen and (max-width: 1200px) {
      display: block;
    }
  }
  
  &-search_bar{
    position: relative;
    width: 410px;
    height: 43px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid $navbar-background;
    color: $input-color;
    outline: none;
    font-size: 16px;
  }
  
  &-search_input{
    position: absolute;
    width: 100%;
    border-radius: 25px;
    border: 1px solid $navbar-background;
    color: $input-color;
    outline: none;
    padding: 10px;
    padding-right: 50px;
    font-size: 16px;
    font-weight: 500;
    &:focus{
      border-color: $gold-color;
    }
  }

  &-search_btn{
    position: absolute;
    right: 20px;
    top: 9px;
    border: none;
    background-color: transparent;
  }

  &-pages{
    position: relative;
    @include flex(center, space-between);
    gap: 20px;
    padding: 0 10px;
  }

  &-page_links{
    @include flex(center, unset);
    gap: 15px;

    @media screen and (max-width: 975px){
      display: none;
    }
  }

  &-all_btn{
    border: none;
    color: $link-color;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.2s ease-in-out;

    &:hover{
      color: $gold-color;
    }
  }

  &-login_links{
    @include flex(center, unset);
    gap: 1px;
  }

  &-login_link{
    color: $link-color;
    font-size: 17px;
    transition: all 0.2s ease-in-out;

    &:hover{
      color: $gold-color;
    }

    @media screen and (max-width: 1045px){
      display: none
    }

  }

  &-user_icon{
    display: none;

    @media screen and (max-width: 1045px){
      display: block;
    }
  }

  &-favourites_link{
    @include flex(center, unset);
    gap: 6px;
    color: $link-color;
    font-size: 17px;
    transition: all 0.2s ease-in-out;

    &:hover{
      color: $gold-color;
    }
  }

  &-favourites_link svg{
    fill: #fff;

    // @media screen and (max-width: 970px){
    //   fill: #000;
    // }
  }

  &-favourites_text{
    // @media screen and (max-width: 1080px){
    //   display: none;
    // }

    @media screen and (max-width: 970px){
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.70px;
    }
  }

  &-clock_text{
    @media screen and (max-width: 970px){
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.70px;
    }
  }

  &-dropdown{
    position: absolute;
    top: 45px;
    right: 50px;
    opacity: 0;
    visibility: hidden;
    background-color: $navbar-background;
    width: 350px;
    height: 0;
    transition: all 0.2s ease-in-out;
    padding: 18px;

    @media screen and (max-width: 500px){
      position: fixed;
      right: 0;
      top: 270px;
      z-index: 999999;
      width: 100%;
      opacity: 1;
      visibility: visible;
      background-color: transparent;
    }

    &.active{
      opacity: 1;
      visibility: visible;
      height: 240px;
    }

    &_content{
      @include flex(start, unset);
      flex-direction: column;
      gap: 14px;
      opacity: 0;
      visibility: hidden;

      &.active{
        opacity: 1;
        visibility: visible;
      }
    }

    &_link{
      color: $link-color;
      @include adaptive-value('font-size', 18, 15);
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.60px;
      transition: all 0.2s ease-in-out;

      &:hover{
        text-decoration: underline;
        color: $gold-color;
      }
    }
  }

  &-all{
    @media screen and (max-width: 500px){
      display: none;
    }
  }

  &-items_box{
    @include flex(center, unset);
    gap: 8px;

    @media screen and (max-width: 975px){
      display: none;
    }
  }

  &-logo_img{
    position: fixed;
    z-index: 999999999999;
    width: 200px;
  }
}

.bottom-nav{
  position: fixed;
  bottom: 0;
  z-index: 9999999999;
  background-color: #000;
  width: 100%;
  padding: 15px;
  display: none;

  @media screen and (max-width: 975px){
    display: block;
  }

  &_links{
    @include flex(center, space-between);
  }

  &_link{
    @include flex(center, center);
    gap: 10px;
    color: $link-color;

    @media screen and (max-width: 560px){
      flex-direction: column;
      gap: 3px;
    }
  }
}