.admin {
  &-input {
    border: 1px solid $gold-color;
    color: #fff;
    width: 350px;
    height: 550px;
    padding: 20px;
    background-color: transparent;
    border-radius: 12px;
    outline: none;
  }
  &-change {
    &-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &-name_input {
    width: 100%;
    background-color: transparent;
    padding: 7px;
    border: none;
    border: 0.1px solid #ffffffb2;
    border-radius: 10px;
    outline: none;
    @include adaptive-value("font-size", 37, 30);
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;

    &.active {
      border: none;
    }
  }

  &-check_input {
    width: 100px;
    padding-left: 5px;
    background-color: transparent;
    border: 0.1px solid #ffffffb7;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

    &.active {
      border: none;
    }
  }

  &-month_input {
    width: 35px;
    padding-left: 5px;
    background-color: transparent;
    border: 0.1px solid #ffffffa4;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

    &.active {
      border: none;
    }
  }

  &-year_input {
    width: 60px;
    padding-left: 5px;
    background-color: transparent;
    border: 0.1px solid #ffffffa4;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

    &.active {
      border: none;
    }
  }

  &-grade_input {
    width: 40px;
    padding-left: 5px;
    background-color: transparent;
    border: 0.1px solid #ffffffa4;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

    &.active {
      border: none;
    }
  }

  &-country_input {
    padding-left: 5px;
    width: 80px;
    background-color: transparent;
    border: 0.1px solid #ffffffbd;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

    &.active {
      border: none;
    }
  }

  &-check {
    padding-left: 5px;
    width: 110px;
    background-color: transparent;
    border: 0.1px solid #ffffffb6;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

    &.active {
      border: none;
    }
  }

  &-subtitle {
    padding: 10px;
    font-size: 16px;
    color: #ffffffc6;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    height: 150px;
    line-height: 30px;
    background-color: transparent;
    border: 0.1px solid #ffffffa4;
    border-radius: 10px;
    resize: none;

    &.active {
      border: none;
    }
  }

  &-addmovie-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: $gold-color;
    border-radius: 23px;
    font-weight: 500;
    outline: none;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    border: none;
    transition: ease-in-out 0.3s;

    &:hover {
      opacity: 0.9;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &-video {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    &-area {
      background-color: transparent;
      padding: 20px;
      font-size: 20px;
      color: #ffffffb7;
      resize: none;
    }
  }
}
