.login {
  &-bg {
    position: relative;
    width: 100%;
    filter: blur(5px);

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &-img {
    opacity: 0.4;
    width: 100%;
    height: 100vh;
  }

  &-content {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  &-card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 40px;
    border-radius: 6px;
    @include flex(start, center);
    flex-direction: column;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding-bottom: 40px;
  }

  &-form {
    @include flex(center, center);
    flex-direction: column;
    width: 350px;
    gap: 20px;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &-input {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(135, 135, 135);
    outline: none;
    border-radius: 3px;
    font-size: 17px;
    color: #fff;
    transition: all 0.2 ease-in-out;
    font-weight: 400;
    letter-spacing: 0.41px;
    @include adaptive-value("font-size", 16, 15);
    transition: all 0.5s;

    &:focus {
      appearance: none;
      border-color: #0070c9;
      outline: 0;
      box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
    }

    &.error {
      border-color: #e30000;

      &:focus {
        appearance: none;
        border-color: #e30000;
        outline: 0;
        box-shadow: 0 0 0 3px rgba(253, 131, 131, 0.5);
      }
    }

    &.warning {
      border-color: #ff9900;

      &:focus {
        appearance: none;
        border-color: #ff9900;
        outline: 0;
        box-shadow: 0 0 0 3px rgba(255, 153, 0, 0.5);
      }
    }

    &.success {
      border-color: #00c853;

      &:focus {
        appearance: none;
        border-color: #00c853;
        outline: 0;
        box-shadow: 0 0 0 3px rgba(0, 200, 83, 0.5);
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &-btn {
    width: 100%;
    background-color: $gold-color;
    padding: 11px 8px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 4px;
    color: #000;
    text-align: center;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &-register-link:hover {
    text-decoration: underline;
  }

  &-remember {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
