.movie {
  &-container {
    width: 70%;
    margin: 0 auto;
  }

  padding-top: 120px;

  &-content {
    @include flex(start, unset);
    @include adaptive-value("gap", 150, 50);
    align-items: center;

    @media screen and (max-width: 1020px) {
      flex-direction: column;
    }
  }

  &-img {
    width: 350px;
    border-radius: 12px;
    object-fit: cover;
    background: center;
  }

  &-first-section {
    @include flex(start, unset);
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
      padding-bottom: 20px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &-like-dislike {
    display: flex;
    gap: 10px;
  }

  &-like {
    border: none;
    background: none;
    color: #ffffffc6;
    align-items: center;
    display: flex;
    gap: 5px;
  }
  &-dislike {
    border: none;
    background: none;
    color: #ffffffc6;
    align-items: center;
    display: flex;
    gap: 5px;
  }

  &-name {
    @include adaptive-value("font-size", 37, 30);
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-btns {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 560px) {
      flex-direction: column;
    }
  }

  &-btn {
    @include adaptive-value("font-size", 16, 14);
    padding: 10px 20px;
    border: none;
    color: #000;
    background-color: $gold-color;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all 0.5s;
    text-align: center;
    &:hover {
      opacity: 0.8;
    }
  }

  &-number_info {
    @include flex(start, unset);
    gap: 25px;
    width: 100%;
    flex-wrap: wrap;
    color: #ffffffc6;
    // padding-bottom: 40px;
  }

  &-info_title {
    @include flex(center, unset);
    gap: 5px;
  }

  &-info_icon {
    @include flex(center, unset);
  }

  &-info_icon svg {
    fill: #ffffffc6;
  }

  &-subtitle {
    font-size: 16px;
    color: #ffffffc6;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    line-height: 30px;
  }

  &-country {
    @include flex(start, center);
    flex-direction: column;
  }

  &-video {
    padding-top: 120px;

    &_image {
      width: 100%;
      border-radius: 4px;
    }
  }

  &-text {
    @include flex(start, center);
    flex-direction: column;
    gap: 20px;
  }

  &-parts {
    padding-top: 60px;

    &_select {
      background-color: transparent;
      color: #fff;
      border: none;
      font-size: 23px;
      outline: none;
      cursor: pointer;
      @include flex(center, unset);
    }

    &_option {
      background-color: $gold-color;
      border: none;
      color: #000;

      &:hover {
        cursor: pointer;
      }
    }

    &_part {
      background-color: $gold-color;
      width: 540px;
      margin: 0 auto;
      padding: 14px;
      color: #000;
      border-radius: 8px;
      @include flex(center, unset);
      font-size: 18px;
    }

    &_box {
      padding-top: 35px;
      @include flex(center, space-between);
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &-commets {
    padding-top: 130px;
    @include flex(start, center);
    gap: 35px;
    flex-direction: column;
  }

  &-comment {
    @include flex(center, unset);
    gap: 20px;
  }

  &-user_image {
    border-radius: 50%;
    width: 100px;
  }

  &-comment_items {
    @include flex(start, center);
    flex-direction: column;
    gap: 5px;
  }

  &-buttons {
    @include flex(center, start);
    gap: 14px;
  }

  &-like_btn {
    border: none;
    color: #fff;
    @include flex(center, center);
    gap: 10px;
    font-size: 15px;
  }

  &-comment_name {
    font-size: 16px;
  }

  &-comment_date {
    font-size: 16px;
  }
}
