.network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 30px;

  &-logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &-title {
      font-size: 50px;
      font-weight: 300;
      color: #ffffffd2;
      letter-spacing: 2px;
      text-align: center;
      width: 90%;
    }

    &-desc {
      font-size: 20px;
      font-weight: 300;
      color: #ffffffd2;
      letter-spacing: 1px;
      text-align: center;
      width: 90%;
      line-height: 25px;
    }

    &-btn{
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: transparent;
        color: #ffffffd2;
        border: 1px solid #ffffffd2;
        font-size: 20px;
        padding: 15px 35px;
        border-radius: 50px;
        transition: 0.2s;

        &:hover {
          background-color: #ffffffd2;
          color: #000000;
          border-color: #000000;
        }
    }
  }
}
