.premium{

    &-content{
        @include flex(center, center);
        height: 100vh;
        flex-direction: column;
    }

    &-image{
        @include adaptive-value('width', 270, 220)
    }

    &-title{
        @include adaptive-value('font-size', 35, 27);
        letter-spacing: 2.4px;
        font-weight: 400;
        text-align: center;
        line-height: 48px;
    }
}