.settings {
  padding-top: 100px;
  padding-bottom: 50px;
  height: 100vh;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-user {
    @include flex(start, unset);
    gap: 40px;

    @media screen and (max-width: 830px) {
      flex-direction: column;
    }

    &_title {
      @include adaptive-value("font-size", 28, 26);
      font-weight: 500;
      letter-spacing: 0.78px;
    }

    &_img {
      border-radius: 50%;
      width: 150px;
    }

    &_items {
      @include flex(center, unset);
      gap: 30px;

      @media screen and (max-width: 480px) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }

    &_button {
      border: 1px solid #ccc;
      padding: 8px 25px;
      border-radius: 4px;
      color: #ccc;
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.78px;
    }

    &_text {
      font-size: 18px;
      letter-spacing: 0.7px;

      @media screen and (max-width: 480px) {
        text-align: center;
      }
    }
  }

  &-input {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;

    &:focus {
      border-color: $gold-color;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  &-box {
    @include flex(center, unset);
    gap: 70px;

    @media screen and (max-width: 600px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 537px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }
  &-title {
    width: 120px;
    text-align: end;
    font-size: 20px;
    font-weight: 300;

    @media screen and (max-width: 537px) {
      text-align: start;
    }
  }

  &-password_btn {
    width: 400px;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}
