.swiper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;

    &-slide {
        text-align: center;
        font-size: 18px;
    }

}

.swiper-slide{
    --add-bottom: 50px;
    padding-bottom: var(--add-bottom);
}
.swiper-pagination [class^="swiper-pagination"]{
    top: calc(50% - var(--add-bottom) / 2);
}