.footer{
    margin-top: 130px;

    &-image{
        @include adaptive-value('width', 300, 250);
    }

    &-content{
        @include flex(center, space-between);
        gap: 15px;
    }

    &-links{
        @include flex(center, center);
        gap: 14px;
    }

    &-link{
        color: #fff;
        font-size: 18px;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: $gold-color;
        }
    }

    &-social{
        @include flex(center, center);
        gap: 14px;

        &_link{
            svg{
                fill: #fff;
            }

            &:hover{
                svg{
                    fill: $gold-color;
                }
            }
        }
    }


}