.footer{
    padding: 45px 0; 
    background-color: #1B1B1B;

    &-image{
        @include adaptive-value('width', 130, 76);

        @media screen and (max-width: 420px){
            display: none;
        }
    }

    &-content{
        @include flex(center, space-between);
        gap: 15px;

        @media screen and (max-width: 420px){
            justify-content: center;
            gap: unset;
        }
    }

    &-links{
        @include flex(center, center);
        gap: 14px;
    }

    &-link{
        color: #fff;
        font-size: 18px;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: $gold-color;
        }
    }

    &-social{
        @include flex(center, center);
        gap: 14px;

        &_link{
            svg{
                fill: #fff;
            }

            &:hover{
                svg{
                    fill: $gold-color;
                }
            }
        }

        @media screen and (max-width: 550px){
            display: none;
        }
    }


}