.register{

    &-card{
        margin-top: 100px;
        background-color: rgba(0,0,0, 0.75);
        padding: 60px 40px;
        border-radius: 6px;
        @include flex(start, center);
        flex-direction: column;
        
        @media screen and (max-width: 600px){
            width: 100%;
        }

    }
}