.header{
    padding-top: 70px;

    &-bg{
        position: relative;
        height: 90vh;
        width: 100%;
        object-fit: cover;
        background-position: center;
    }

    &-items{
        position: absolute;
        top: 200px;
        margin: 0 auto;
        width: 100%;
        @include flex(center, center);
        padding-top: 50px;

        @media screen and (max-width: 600px){
            padding-top: unset;
        }
    }

    &-links{
        @include flex(center, center);
        gap: 20px;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 460px){
            flex-direction: column;
        }
    }

    &-link{
        background-color: $gold-color;
        padding: 10px 20px;
        border-radius: 50px;
        color: #000;
        font-weight: 600;
        @include flex(center, center);
        gap: 7px;
        font-size: 25px;

        &_later{
            background-color: transparent;
            padding: 10px 20px;
            border-radius: 50px;
            color: $link-color;
            font-weight: 600;
            @include flex(center, center);
            gap: 7px;
            font-size: 25px;
            border: 1px solid $gold-color;
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: $gold-color;
                color: #000;
            }
        }
    }

    &-info{
        position: absolute;
        bottom: 100px;

        @media screen and (max-width: 975px){
            bottom: 100px;
        }

        @media screen and (max-width: 460px){
            display: none;
        }
    }

    &-title{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        color: #fff;
        padding-bottom: 20px
    }

    &-texts{
        @include flex(center, unset);
        gap: 20px;
    }

    &-item{
        @include flex(center, unset);
        gap: 6px;
    }

    &-year{
        color: #fff;
    }

    &-icon svg{
        fill: #fff
    }
}