* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  color: #f5f5f5;
  transition: 0.1s;
}
a:hover {
  color: rgb(255, 226, 97);
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.poster_image {
  display: none;
  border-radius: 23px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.backdrop_image {
  position: relative;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

@media screen and (max-width: 700px) {
  .backdrop_image {
    display: none;
  }
  .poster_image {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
