@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  background: inherit;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.hidden {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  backdrop-filter: blur(14px);
  height: 74px;
  align-items: center;
  -webkit-backdrop-filter: blur(14px);
}
.nav-container {
  background-color: rgba(0, 0, 0, 0.1803921569);
  max-width: 1360px;
  min-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-content {
  display: flex;
  height: 74px;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 40px;
}
@media screen and (max-width: 930px) {
  .nav-list {
    gap: 7px;
  }
}
.nav-list_active {
  transform: translateX(0);
}
@media screen and (max-width: 1000px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 100vh;
    background: #000;
    transform: translateX(-1000%);
    transition: 0.4s ease-in-out;
    align-items: flex-start;
    gap: 80px;
    color: #000;
    z-index: 999;
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  .nav-list {
    width: 100%;
  }
}
.nav-list.active {
  transform: translateX(0);
}
.nav-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  z-index: 999;
}
.nav-bg.show {
  opacity: 1;
  visibility: visible;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 15px;
}
@media screen and (max-width: 930px) {
  .nav-links {
    gap: 7px;
  }
}
@media screen and (max-width: 1000px) {
  .nav-links {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    margin-top: 80px;
  }
}
.nav-menu__close {
  position: absolute;
  top: 30px;
  right: 27px;
  border: none;
  background: #fff;
  padding: 11px;
  border-radius: 4px;
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav-menu__close {
    display: block;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
.nav-menu-profile_down {
  top: 0;
  position: absolute;
  background: #fff;
  color: #000;
  transform: translateX(-70%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 65px;
  display: none;
  visibility: hidden;
  display: none;
}
.nav-menu-profile_down.show {
  display: block;
  visibility: visible;
}
.nav-menu-profile-item {
  display: flex;
  gap: 10px;
}
.nav-translate {
  position: absolute;
  right: 20px;
}
.nav-translate-btn {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.nav-translate-btn:hover {
  color: #ffd700;
}
.nav-translate-down {
  top: 0;
  position: absolute;
  background: #fff;
  color: #000;
  transform: translateX(-70%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 55px;
  display: none;
  flex-direction: column;
}
.nav-translate-down.show {
  display: flex;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 20px;
  z-index: 999;
}
.nav-link {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.41px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1260px) {
  .nav-link {
    font-size: calc(15px + 1 * (100vw - 320px) / 940);
  }
}
.nav-link:hover {
  border-bottom: 1px solid #ffd700;
  color: #ffd700;
}
@media screen and (max-width: 1000px) {
  .nav-link {
    font-size: 24px;
  }
}
.nav-logo__list {
  display: flex;
  align-items: center;
  justify-content: unset;
  background-color: transparent;
  height: 74px;
  padding: 14px;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1260px) {
  .nav-logo__list {
    font-size: calc(15px + 3 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 600px) {
  .nav-logo__list {
    padding: 14px 0;
  }
}
.nav-logo_image {
  width: 90px;
}
@media (max-width: 1260px) {
  .nav-logo_image {
    width: calc(60px + 30 * (100vw - 320px) / 940);
  }
}
.nav-menu {
  border: none;
  border-radius: 4px;
  display: none;
  fill: #ffd700;
  padding: 6px;
}
@media screen and (max-width: 1000px) {
  .nav-menu {
    display: block;
  }
}
.nav-search_bar {
  position: relative;
  border-radius: 25px;
  display: flex;
  align-items: center;
  color: #1d1c1c;
  width: 410px;
  height: 43px;
  outline: none;
  font-size: 16px;
  margin-left: 20px;
}
.nav-search_bar.mobile {
  display: none;
}
@media screen and (max-width: 880px) {
  .nav-search_bar {
    display: none;
  }
  .nav-search_bar.mobile {
    display: block;
    position: absolute;
    right: 120px;
  }
}
.nav-search_bar_down {
  width: 100%;
  top: 10px;
  position: fixed;
  display: none;
  z-index: 99999999;
}
@media screen and (max-width: 880px) {
  .nav-search_bar_down.show {
    display: flex;
  }
}
.nav-search_bar_down-input {
  border-radius: 10px;
  border: 0.1px solid black;
  width: 95%;
  height: 54px;
  background-color: #fff;
  color: #000;
  outline: none;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 500;
}
.nav-search_bar_down-input:focus {
  border-color: #ffd700;
}
.nav-search_bar_down-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.nav-search_bar_down-btn-search {
  position: absolute;
  right: 70px;
  top: 14px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.nav-search_input {
  border: 1px solid #000;
  width: 410px;
  height: 43px;
  background-color: #fff;
  border-radius: 25px;
  color: #1d1c1c;
  outline: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.nav-search_input:focus {
  border-color: #ffd700;
}
.nav-search_btn {
  position: absolute;
  right: 40px;
  top: 10px;
  border: none;
  background-color: transparent;
  fill: #000;
}
.nav-search_btn.mobile {
  fill: #fff;
  right: 10px;
}
.nav-pages {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-page_links {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 35px;
}
.nav-login_links {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.nav-login_link {
  color: #fff;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.nav-login_link:hover {
  color: #ffd700;
}
.nav-user_icon {
  display: none;
}
@media screen and (max-width: 1045px) {
  .nav-user_icon {
    display: block;
  }
}
.nav-favourites_link {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 6px;
  color: #fff;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.nav-favourites_link:hover {
  color: #ffd700;
}
.nav-favourites_link svg {
  fill: #fff;
}
.nav-dropdown {
  position: absolute;
  top: 45px;
  right: 50px;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  width: 350px;
  height: 0;
  transition: all 0.2s ease-in-out;
  padding: 18px;
}
@media screen and (max-width: 500px) {
  .nav-dropdown {
    position: fixed;
    right: 0;
    top: 270px;
    z-index: 999999;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
  }
}
.nav-dropdown.active {
  opacity: 1;
  visibility: visible;
  height: 230px;
}
.nav-dropdown_content {
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
  gap: 14px;
  opacity: 0;
  visibility: hidden;
}
.nav-dropdown_content.active {
  opacity: 1;
  visibility: visible;
}
.nav-dropdown_link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.6px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1260px) {
  .nav-dropdown_link {
    font-size: calc(15px + 3 * (100vw - 320px) / 940);
  }
}
.nav-dropdown_link:hover {
  text-decoration: underline;
  color: #ffd700;
}
.nav-items_box {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 15px;
}
.nav-logo_img {
  position: fixed;
  z-index: 999999999999;
  width: 200px;
}

.header-bg {
  position: relative;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
@media screen and (max-width: 750px) {
  .header-bg {
    display: none;
  }
}
.header-bg.portrait {
  display: none;
  border-radius: 23px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .header-bg.portrait {
    display: block;
  }
}
.header-items {
  position: absolute;
  bottom: 100px;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
@media screen and (max-width: 650px) {
  .header-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .header-items {
    padding-top: unset;
  }
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  gap: 20px;
  padding-top: 100px;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 660px) {
  .header-links {
    flex-direction: column;
  }
}
.header-desc {
  text-align: start;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8392156863);
  line-height: 28px;
  letter-spacing: 0.5px;
}
.header-link {
  background-color: #ffd700;
  padding: 10px 25px;
  border-radius: 50px;
  color: #000;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 285px;
  transition: all 0.2s ease-in-out;
}
.header-link_later {
  width: 285px;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 50px;
  color: #ffffff;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffd700;
  gap: 7px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6705882353);
}
.header-link_later.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.header-link_later:hover {
  background-color: #ffd700;
  color: #000;
}
.header-link:hover {
  opacity: 0.8;
}
.header-info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 100px;
  gap: 10px;
}
@media screen and (max-width: 750px) {
  .header-info {
    display: none;
  }
}
.header-title {
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 48px;
  text-align: left;
  color: #fff;
}
@media screen and (max-width: 650px) {
  .header-title {
    text-align: center;
    margin: 0 auto;
  }
}
.header-texts {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 20px;
}
@media screen and (max-width: 650px) {
  .header-texts {
    text-align: center;
    margin: 0 auto;
  }
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 6px;
}
.header-year {
  color: #fff;
}
.header-icon svg {
  fill: #fff;
}

.footer {
  padding: 20px 0;
  margin-top: 50px;
  background-color: #1B1B1B;
}
.footer-image {
  width: 130px;
}
@media (max-width: 1260px) {
  .footer-image {
    width: calc(76px + 54 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 420px) {
  .footer-image {
    display: none;
  }
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media screen and (max-width: 420px) {
  .footer-content {
    justify-content: center;
    gap: unset;
  }
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.footer-link {
  color: #fff;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.footer-link:hover {
  color: #ffd700;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.footer-social_link svg {
  fill: #fff;
}
.footer-social_link:hover svg {
  fill: #ffd700;
}
@media screen and (max-width: 550px) {
  .footer-social {
    display: none;
  }
}

.swiper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide {
  --add-bottom: 50px;
  padding-bottom: var(--add-bottom);
}

.swiper-pagination [class^=swiper-pagination] {
  top: calc(50% - var(--add-bottom) / 2);
}

.movies {
  padding-top: 130px;
}
.movies-title {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 35px;
  padding-top: 50px;
}
@media (max-width: 1260px) {
  .movies-title {
    font-size: calc(25px + 15 * (100vw - 320px) / 940);
  }
}
.movies-cards {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.movies-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 15px;
  transition: all 0.2s ease-in-out;
}
.movies-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.movies-img {
  height: 400px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background: center;
}
.movies-info {
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
  gap: 7px;
  width: 270px;
}
.movies-time {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 5px;
  font-size: 17px;
}
.movies-movies {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movies-movie {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movies-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 17px;
  width: 100%;
}
.movies-name {
  font-size: 20px;
  width: 100%;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: start;
}
@media (max-width: 1260px) {
  .movies-name {
    font-size: calc(18px + 2 * (100vw - 320px) / 940);
  }
}
.movies-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: #fff;
  gap: 5px;
}
.movies-icon {
  border: none;
}
.movies-icon svg {
  fill: #fff;
  transition: all 0.2s ease-in-out;
  border: none;
}
.movies-icon svg:hover {
  fill: #ffd700;
}

.new-movie {
  padding-top: 50px;
}
.new-movie_img {
  background-color: black;
  width: 110px;
}
.new-movie_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.new-movie_info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}
.new-movie_name {
  letter-spacing: 1px;
  font-weight: 300;
}
.new-movie_parts {
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}
.new-movie_date {
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}
.new-movie_title {
  font-size: 40px;
  padding-bottom: 30px;
  font-weight: 500;
}
@media (max-width: 1260px) {
  .new-movie_title {
    font-size: calc(26px + 14 * (100vw - 320px) / 940);
  }
}

.movie {
  overflow-x: hidden;
  padding-top: 120px;
  padding-bottom: 150px;
}
.movie-container {
  width: 80%;
  margin: 0 auto;
}
.movie-content {
  display: flex;
  align-items: start;
  justify-content: unset;
  gap: 150px;
  align-items: center;
}
@media (max-width: 1260px) {
  .movie-content {
    gap: calc(50px + 100 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 1020px) {
  .movie-content {
    flex-direction: column;
  }
}
.movie-movie-container {
  width: 100%;
}
.movie-admin {
  background-color: rgba(231, 229, 219, 0.531);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 23px;
  padding: 5px;
  position: fixed;
  top: 80px;
  right: 10px;
  gap: 10px;
  display: flex;
}
.movie-iframe {
  height: 500px;
  width: 85%;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  border: 0.1px solid rgba(255, 255, 255, 0.2549019608);
}
@media (max-width: 1260px) {
  .movie-iframe {
    height: calc(200px + 300 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 600px) {
  .movie-iframe {
    width: 100%;
  }
}
.movie-img {
  width: 350px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  background: center;
  border: 0.1px solid #000;
}
.movie-img-fullscreen {
  width: 100%;
  height: 35%;
  -o-object-fit: cover;
     object-fit: cover;
  background: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  filter: blur(5px);
}
@media screen and (max-width: 1020px) {
  .movie-img-fullscreen {
    height: 32%;
  }
}
.movie-first-section {
  display: flex;
  align-items: start;
  justify-content: unset;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .movie-first-section {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .movie-first-section {
    flex-direction: column;
    gap: 20px;
  }
}
.movie-like-dislike {
  display: flex;
  gap: 10px;
}
.movie-like {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.7764705882);
  align-items: center;
  display: flex;
  gap: 5px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
}
.movie-like > svg {
  fill: rgba(255, 255, 255, 0.7764705882);
  transition: all 0.2s ease-in-out;
  border: none;
}
.movie-like > svg:hover {
  fill: #ffd700;
}
.movie-dislike {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.7764705882);
  align-items: center;
  display: flex;
  gap: 5px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
}
.movie-dislike > svg {
  fill: rgba(255, 255, 255, 0.7764705882);
  transition: all 0.2s ease-in-out;
  border: none;
}
.movie-dislike > svg:hover {
  fill: #ffd700;
}
.movie-name {
  font-size: 37px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.648);
  letter-spacing: 3px;
}
@media (max-width: 1260px) {
  .movie-name {
    font-size: calc(30px + 7 * (100vw - 320px) / 940);
  }
}
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.movie-btns {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 560px) {
  .movie-btns {
    flex-direction: column;
  }
}
.movie-btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  color: #000;
  background-color: #ffd700;
  border-radius: 50px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all 0.5s;
  text-align: center;
}
@media (max-width: 1260px) {
  .movie-btn {
    font-size: calc(14px + 2 * (100vw - 320px) / 940);
  }
}
.movie-btn:hover {
  opacity: 0.8;
}
.movie-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.movie-delete_btn {
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  transition: all 0.5s;
}
.movie-delete_btn:hover {
  opacity: 0.8;
  color: #e80000;
}
.movie-number_info {
  display: flex;
  align-items: start;
  justify-content: unset;
  gap: 25px;
  width: 100%;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.7764705882);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
}
.movie-info_title {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 5px;
}
.movie-info_title svg {
  fill: rgba(255, 255, 255, 0.7764705882);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
}
.movie-info_icon {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.movie-info_icon svg {
  fill: rgba(255, 255, 255, 0.7764705882);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
}
.movie-subtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7764705882);
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
  line-height: 30px;
}
.movie-country {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.movie-video {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.movie-video_image {
  width: 100%;
  border-radius: 4px;
}
.movie-video-language {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.movie-video-language-text {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
}
@media (max-width: 1260px) {
  .movie-video-language-text {
    font-size: calc(17px + 8 * (100vw - 320px) / 940);
  }
}
.movie-text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.movie-parts {
  padding-top: 60px;
}
.movie-parts_select {
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 23px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: unset;
}
.movie-parts_option {
  background-color: #ffd700;
  border: none;
  color: #000;
}
.movie-parts_option:hover {
  cursor: pointer;
}
.movie-parts_part {
  background-color: #ffd700;
  width: 540px;
  margin: 0 auto;
  padding: 14px;
  color: #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: unset;
  font-size: 18px;
}
.movie-parts_box {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.movie-comments {
  padding-top: 130px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 35px;
  flex-direction: column;
}
.movie-comments-title {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
}
@media (max-width: 1260px) {
  .movie-comments-title {
    font-size: calc(25px + 5 * (100vw - 320px) / 940);
  }
}
.movie-comments-posting {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.movie-comments-posting-input {
  padding: 10px;
  line-height: 1.23543;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: hsla(0, 0%, 100%, 0.945);
  background-clip: padding-box;
  transition: all 0.2s ease-in-out;
}
.movie-comments-posting-input:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #0070c9;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}
.movie-comments-posting-area {
  width: 800px;
  height: 100px;
  padding: 10px;
  line-height: 1.23543;
  font-weight: 400;
  font-size: 14px;
  resize: vertical;
  min-height: 100px;
  max-height: 150px;
  color: #333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: hsla(0, 0%, 100%, 0.945);
  background-clip: padding-box;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1260px) {
  .movie-comments-posting-area {
    width: calc(225px + 575 * (100vw - 320px) / 940);
  }
}
.movie-comments-posting-area:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #0070c9;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}
.movie-comments-posting-area::-moz-placeholder {
  font-weight: 300;
  color: #86868b;
}
.movie-comments-posting-area::placeholder {
  font-weight: 300;
  color: #86868b;
}
.movie-comments-posting-button {
  font-size: 17px;
  background-color: #ffd700;
  border-radius: 22px;
  line-height: 20px;
  text-align: center;
  align-content: center;
  font-weight: 400;
  letter-spacing: 0.5px;
  height: 44px;
  padding: 0px 30px;
  border: none;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 1260px) {
  .movie-comments-posting-button {
    font-size: calc(16px + 1 * (100vw - 320px) / 940);
  }
}
.movie-comments-posting-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.movie-comments-empty-text {
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 0.5px;
  color: #86868b;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}
@media (max-width: 1260px) {
  .movie-comments-empty-text {
    font-size: calc(16px + 1 * (100vw - 320px) / 940);
  }
}
.movie-comment {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 30px;
}
.movie-comment-names {
  display: flex;
  align-items: center;
  gap: 10px;
}
.movie-comment_name {
  font-size: 20px;
}
.movie-comment_name-admin {
  font-size: 13px;
}
.movie-comment_items {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.movie-admin_img {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.2549019608);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 217, 0, 0.376);
}
.movie-admin_image {
  z-index: 999;
  width: 56px;
}
.movie-user_image {
  border-radius: 50%;
  width: 100px;
}
.movie-buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
}
.movie-like_btn {
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
}
.movie-comment_date {
  font-size: 16px;
}

.login-bg {
  position: relative;
  width: 100%;
  filter: blur(5px);
}
@media screen and (max-width: 600px) {
  .login-bg {
    display: none;
  }
}
.login-img {
  opacity: 0.4;
  width: 100%;
  height: 100vh;
}
.login-content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.login-card {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 40px;
  border-radius: 6px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .login-card {
    width: 100%;
  }
}
.login-title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding-bottom: 40px;
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .login-form {
    width: 100%;
  }
}
.login-input {
  width: 100%;
  background-color: #fff;
  border: 1px solid rgb(135, 135, 135);
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  color: #fff;
  transition: all 0.2 ease-in-out;
  font-weight: 400;
  letter-spacing: 0.41px;
  font-size: 16px;
  transition: all 0.5s;
}
@media (max-width: 1260px) {
  .login-input {
    font-size: calc(15px + 1 * (100vw - 320px) / 940);
  }
}
.login-input:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #0070c9;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}
.login-input.error {
  border-color: #e30000;
}
.login-input.error:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #e30000;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(253, 131, 131, 0.5);
}
.login-input.warning {
  border-color: #ff9900;
}
.login-input.warning:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #ff9900;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 153, 0, 0.5);
}
.login-input.success {
  border-color: #00c853;
}
.login-input.success:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #00c853;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 200, 83, 0.5);
}
.login-input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.login-btn {
  width: 100%;
  background-color: #ffd700;
  padding: 11px 8px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  color: #000;
  text-align: center;
}
.login-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.login-register-link:hover {
  text-decoration: underline;
}
.login-remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.register-card {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 40px;
  border-radius: 6px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .register-card {
    width: 100%;
  }
}

.notrealuser {
  width: 80%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.notrealuser-img {
  width: 200px;
}
.notrealuser-title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}
.notrealuser-desc {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6862745098);
  line-height: 28px;
  letter-spacing: 1px;
}
.notrealuser-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.notrealuser-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6862745098);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6862745098);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.notrealuser-btn:hover {
  background-color: rgba(255, 255, 255, 0.6862745098);
  border: none;
  color: #000000;
}

.admin-input {
  border: 1px solid #ffd700;
  color: #fff;
  width: 350px;
  height: 550px;
  padding: 20px;
  background-color: transparent;
  border-radius: 12px;
  outline: none;
}
.admin-change-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.admin-change-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.admin-name_input {
  width: 100%;
  background-color: transparent;
  padding: 7px;
  border: none;
  border: 0.1px solid rgba(255, 255, 255, 0.6980392157);
  border-radius: 10px;
  outline: none;
  font-size: 37px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 3px;
}
@media (max-width: 1260px) {
  .admin-name_input {
    font-size: calc(30px + 7 * (100vw - 320px) / 940);
  }
}
.admin-name_input.active {
  border: none;
}
.admin-check_input {
  width: 100px;
  padding-left: 5px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.7176470588);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}
.admin-check_input.active {
  border: none;
}
.admin-month_input {
  width: 35px;
  padding-left: 5px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.6431372549);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}
.admin-month_input.active {
  border: none;
}
.admin-year_input {
  width: 60px;
  padding-left: 5px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.6431372549);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}
.admin-year_input.active {
  border: none;
}
.admin-grade_input {
  width: 40px;
  padding-left: 5px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.6431372549);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}
.admin-grade_input.active {
  border: none;
}
.admin-country_input {
  padding-left: 5px;
  width: 80px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.7411764706);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}
.admin-country_input.active {
  border: none;
}
.admin-check {
  padding-left: 5px;
  width: 110px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.7137254902);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}
.admin-check.active {
  border: none;
}
.admin-subtitle {
  padding: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7764705882);
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  height: 150px;
  line-height: 30px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.6431372549);
  border-radius: 10px;
  resize: none;
}
.admin-subtitle.active {
  border: none;
}
.admin-addmovie-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #ffd700;
  border-radius: 23px;
  font-weight: 500;
  outline: none;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  border: none;
  transition: ease-in-out 0.3s;
}
.admin-addmovie-btn:hover {
  opacity: 0.9;
}
.admin-addmovie-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.admin-video {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.admin-video-area {
  background-color: transparent;
  padding: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7176470588);
  resize: none;
}
.admin-extra {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media screen and (max-width: 1050px) {
  .admin-extra {
    flex-direction: column;
    align-items: center;
    gap: 150px;
  }
}
.admin-extra-status {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 70px;
}
@media screen and (max-width: 1050px) {
  .admin-extra-status {
    width: 100%;
    align-items: center;
  }
}
.admin-extra-status-title {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7176470588);
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 30px;
  font-weight: 300;
}
.admin-extra-status-prop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.admin-extra-status-props {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1050px) {
  .admin-extra-status-props {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .admin-extra-status-props {
    width: 100%;
  }
}
.admin-extra-status-prop-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7176470588);
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 30px;
  font-weight: 300;
}
.admin-extra-notes {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media screen and (max-width: 1050px) {
  .admin-extra-notes {
    width: 100%;
    align-items: center;
  }
}
.admin-extra-notes-title {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7176470588);
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 30px;
  font-weight: 300;
}
.admin-extra-notes-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
@media screen and (max-width: 1050px) {
  .admin-extra-notes-main {
    align-items: center;
    width: 100%;
  }
}
.admin-extra-notes-area {
  width: 400px;
  height: 200px;
  border: 0.1px solid rgba(255, 255, 255, 0.6431372549);
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  resize: none;
  padding: 10px;
  overflow: hidden;
  background-color: transparent;
}
@media screen and (max-width: 1050px) {
  .admin-extra-notes-area {
    width: 100%;
  }
}
.admin-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 50px;
}
.admin-index-img {
  width: 200px;
}
.admin-index-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.admin-index-texts-title {
  width: 90%;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8039215686);
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 50px;
  font-weight: 100;
  text-align: center;
}
.admin-index-texts-desc {
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7176470588);
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 30px;
  width: 90%;
  font-weight: 100;
}
.admin-edit-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.admin-edit-movie-search-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-edit-movie-search-bar-title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8549019608);
}
.admin-users {
  width: 90%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
.admin-users-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.admin-users-content > h1 {
  padding: 0px 10px 0px 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7176470588);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 200;
  text-align: center;
}

.watch-later {
  padding-top: 90px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}
.watch-later-info_title {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8862745098);
  margin-bottom: 20px;
}
.watch-later-info_fullname {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
.watch-later-info_count-of-videos {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
.watch-later-movies {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.watch-later-not-found {
  position: absolute;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
  height: 50vh;
  width: 80%;
  z-index: -1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-movie-card {
  gap: 40px;
  display: flex;
  border: 0.1px solid rgba(255, 255, 255, 0.2666666667);
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
  padding: 20px;
  transition: ease-in-out 0.2s;
}
@media (max-width: 1260px) {
  .row-movie-card {
    gap: calc(15px + 25 * (100vw - 320px) / 940);
  }
}
.row-movie-card:hover {
  box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.206);
  transform: translateY(-5px);
}
.row-movie-card_img {
  width: 150px;
  border-radius: 10px;
}
@media (max-width: 1260px) {
  .row-movie-card_img {
    width: calc(100px + 50 * (100vw - 320px) / 940);
  }
}
.row-movie-card_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 1260px) {
  .row-movie-card_info {
    gap: calc(15px + 10 * (100vw - 320px) / 940);
  }
}
.row-movie-card_info-title {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8078431373);
}
@media (max-width: 1260px) {
  .row-movie-card_info-title {
    font-size: calc(20px + 10 * (100vw - 320px) / 940);
  }
}
@media (max-width: 1260px) {
  .row-movie-card_info-title {
    letter-spacing: calc(1px + 1 * (100vw - 320px) / 940);
  }
}
.row-movie-card_info_information {
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.row-movie-card_info_information > h1 {
  font-size: 15px;
  letter-spacing: 2px;
  gap: 5px;
  display: flex;
  align-items: center;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8078431373);
}
@media (max-width: 1260px) {
  .row-movie-card_info_information > h1 {
    font-size: calc(10px + 5 * (100vw - 320px) / 940);
  }
}
@media (max-width: 1260px) {
  .row-movie-card_info_information > h1 {
    letter-spacing: calc(1px + 1 * (100vw - 320px) / 940);
  }
}
@media (max-width: 1260px) {
  .row-movie-card_info_information > h1 {
    gap: calc(2px + 3 * (100vw - 320px) / 940);
  }
}

.search {
  padding-top: 120px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.search-title {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.7882352941);
}
.search-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.7882352941);
}

.about {
  position: relative;
}
.about::before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(40, 42, 45, 0.7);
}
.about-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
}
.about-bg {
  position: relative;
  width: 100%;
  background-position: center center;
}
.about-bg::before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(40, 42, 45, 0.7);
  height: 100vh;
}
.about-bg_img {
  width: 100%;
  min-height: 100vh;
  opacity: 0.6;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.about-text {
  width: 550px;
}
@media screen and (max-width: 620px) {
  .about-text {
    width: 100%;
  }
}
.about-title {
  font-size: 52px;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 1.4em;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1260px) {
  .about-title {
    font-size: calc(32px + 20 * (100vw - 320px) / 940);
  }
}
.about-subtitle {
  font-size: 23px;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  color: #dbdbdb;
  line-height: 1.4em;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}
@media (max-width: 1260px) {
  .about-subtitle {
    font-size: calc(20px + 3 * (100vw - 320px) / 940);
  }
}
.about-link {
  background-color: #ffd700;
  padding: 10px 55px;
  border-radius: 50px;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.accardion {
  width: 100%;
}
.accardion-section {
  margin-top: 60px;
  padding: 70px 0;
  width: 100%;
  background-color: #1B1B1B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.accardion-body {
  width: 100%;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.82px;
  color: #000;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.78px;
  margin-top: 10px;
}
@media (max-width: 1260px) {
  .accardion-body {
    font-size: calc(17px + 1 * (100vw - 320px) / 940);
  }
}
.accardion-body.show {
  max-height: 300px;
}
@media screen and (max-width: 550px) {
  .accardion-body {
    width: 100%;
  }
}
.accardion-content {
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.accardion-name {
  font-size: 24px;
  color: #000;
}
.accardion-title {
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 45px;
  letter-spacing: 0.78px;
}
@media (max-width: 1260px) {
  .accardion-title {
    font-size: calc(30px + 15 * (100vw - 320px) / 940);
  }
}
.accardion-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.accardion-box {
  width: 100%;
}
.accardion-button {
  border: none;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}
.accardion-button.active {
  transform: rotate(45deg);
}

.info {
  padding-top: 130px;
}
.info-title {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  padding-bottom: 20px;
}
@media (max-width: 1260px) {
  .info-title {
    font-size: calc(34px + 16 * (100vw - 320px) / 940);
  }
}
.info-subtitle {
  text-align: center;
  width: 750px;
  margin: 0 auto;
  letter-spacing: 0.77px;
  font-weight: 300;
  font-size: 18px;
  color: #d3d3d3;
  padding-bottom: 50px;
}
@media screen and (max-width: 820px) {
  .info-subtitle {
    width: 100%;
  }
}
.info-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
@media screen and (max-width: 700px) {
  .info-about {
    justify-content: center;
  }
}
.info-img {
  width: 600px;
}
@media (max-width: 1260px) {
  .info-img {
    width: calc(450px + 150 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 700px) {
  .info-img {
    display: none;
  }
}
.info-text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.info-number {
  color: #ffd700;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 70px;
}
@media (max-width: 1260px) {
  .info-number {
    font-size: calc(35px + 35 * (100vw - 320px) / 940);
  }
}
.info-numbers {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .info-numbers {
    justify-content: center;
    align-items: center;
  }
}
.info-span {
  font-size: 20px;
  color: #ffd700;
  font-weight: 500;
}

.contact {
  position: relative;
}
.contact-bg {
  height: 50vh;
  min-height: 45vh;
  width: 100%;
}
.contact-bg_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}
.contact-content {
  transform: translateY(-15%);
  background-color: #fff;
  padding: 60px 25px;
  border-radius: 4px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.contact-title {
  font-size: 45px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 1260px) {
  .contact-title {
    font-size: calc(30px + 15 * (100vw - 320px) / 940);
  }
}
.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-items {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  padding-top: 10px;
}
@media screen and (max-width: 740px) {
  .contact-items {
    width: 100%;
    padding-top: unset;
  }
}
.contact-name {
  font-size: 20px;
  font-weight: 600;
}
.contact-input {
  border: 1px solid #898888;
  padding: 14px 6px;
  height: 40px;
  width: 450px;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
  font-size: 19px;
}
.contact-input:focus {
  box-shadow: #ffd700 0px 1px 20px;
  border-color: #ffd700;
}
@media screen and (max-width: 1020px) {
  .contact-input {
    width: 400px;
  }
}
@media screen and (max-width: 925px) {
  .contact-input {
    width: 350px;
  }
}
@media screen and (max-width: 825px) {
  .contact-input {
    width: 310px;
  }
}
@media screen and (max-width: 740px) {
  .contact-input {
    width: 100%;
  }
}
.contact-submit {
  border: none;
  background-color: #ffd700;
  border: none;
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.contact-submit:hover {
  box-shadow: #ffd700 0px 1px 20px;
}
.contact-error {
  padding-top: 20px;
  color: red;
  font-size: 20px;
}
.contact-error.active {
  color: green;
}
@media screen and (max-width: 900px) {
  .contact-social {
    display: none;
  }
}
.contact-social_title {
  width: 500px;
  font-weight: 500;
  letter-spacing: 0.78px;
  font-size: 20px;
  line-height: 28px;
  padding-top: 20px;
}
@media (max-width: 1260px) {
  .contact-social_title {
    font-size: calc(18px + 2 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 1000px) {
  .contact-social_title {
    width: 400px;
  }
}
.contact-links {
  padding-top: 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.contact-link_image {
  width: 50px;
}

.premium-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.premium-image {
  width: 270px;
}
@media (max-width: 1260px) {
  .premium-image {
    width: calc(220px + 50 * (100vw - 320px) / 940);
  }
}
.premium-title {
  font-size: 35px;
  letter-spacing: 2.4px;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
}
@media (max-width: 1260px) {
  .premium-title {
    font-size: calc(27px + 8 * (100vw - 320px) / 940);
  }
}

@media screen and (max-width: 360px) {
  .warning {
    display: none;
  }
}

.email-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.email-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 620px;
  border-radius: 34px;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .email-content {
    box-shadow: none;
    width: 100%;
  }
}
.email-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.email-title {
  font-size: 42px;
  font-weight: 500;
  padding-top: 45px;
  text-align: center;
}
@media (max-width: 1260px) {
  .email-title {
    font-size: calc(35px + 7 * (100vw - 320px) / 940);
  }
}
.email-desc {
  font-size: 17px;
  font-weight: 300;
  padding-top: 26px;
  padding-bottom: 20px;
  text-align: center;
}
@media (max-width: 1260px) {
  .email-desc {
    font-size: calc(15px + 2 * (100vw - 320px) / 940);
  }
}
.email-desc-email {
  color: #06c;
  cursor: pointer;
}
.email-desc-email:hover {
  text-decoration: underline;
}
.email-inputs {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 5px;
}
.email-input {
  height: 45px;
  width: 42px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #a1a1a1;
  background-color: inherit;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.email-input::-webkit-inner-spin-button, .email-input::-webkit-outer-spin-button {
  display: none;
}
.email-input:focus {
  border: 2px solid rgb(48, 111, 219);
}
.email-input.error {
  border: 1px solid #e30000;
}
.email-input.success {
  border: 1px solid #00ad0e;
}
.email-input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.email-error-status {
  color: #e30000;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.email-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.email-link {
  color: white;
  background-color: rgb(48, 111, 219);
  border-radius: 21px;
  font-size: 19px;
  line-height: 20px;
  padding: 9px 35px;
  border: none;
  transition: ease-in-out 0.3s;
}
.email-link:hover {
  opacity: 0.9;
}
.email-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.email-logout {
  color: rgb(204, 0, 0);
  font-weight: 200;
  font-size: 15px;
  border: none;
}
.email-logout:hover {
  text-decoration: underline;
}
.email-logout.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.email-resend {
  color: #06c;
  font-weight: 200;
  font-size: 15px;
  border: none;
}
.email-resend:hover {
  text-decoration: underline;
}
.email-resend.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  gap: 20px;
}
.notfound-logo {
  width: 250px;
}
.notfound-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notfound-404 {
  letter-spacing: 5px;
  font-size: 100px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7607843137);
}
.notfound-title {
  font-size: 40px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7607843137);
  letter-spacing: 2px;
}
.notfound-desc {
  font-size: 20px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7607843137);
  letter-spacing: 1px;
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
}

.giveorcancel {
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.giveorcancel-title {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.7176470588);
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 30px;
  font-weight: 200;
  text-align: center;
}
@media (max-width: 1260px) {
  .giveorcancel-title {
    font-size: calc(40px + 30 * (100vw - 320px) / 940);
  }
}
.giveorcancel-content {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 800px) {
  .giveorcancel-content {
    flex-direction: column;
  }
}

.network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 30px;
}
.network-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
}
.network-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.network-content-title {
  font-size: 50px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8235294118);
  letter-spacing: 2px;
  text-align: center;
  width: 90%;
}
.network-content-desc {
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8235294118);
  letter-spacing: 1px;
  text-align: center;
  width: 90%;
  line-height: 25px;
}
.network-content-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8235294118);
  border: 1px solid rgba(255, 255, 255, 0.8235294118);
  font-size: 20px;
  padding: 15px 35px;
  border-radius: 50px;
  transition: 0.2s;
}
.network-content-btn:hover {
  background-color: rgba(255, 255, 255, 0.8235294118);
  color: #000000;
  border-color: #000000;
}

.settings {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .settings-change_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.settings-user {
  display: flex;
  align-items: start;
  justify-content: unset;
  gap: 40px;
}
@media screen and (max-width: 830px) {
  .settings-user {
    flex-direction: column;
  }
}
.settings-user_title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.78px;
}
@media (max-width: 1260px) {
  .settings-user_title {
    font-size: calc(26px + 2 * (100vw - 320px) / 940);
  }
}
.settings-user_img {
  border-radius: 50%;
  width: 150px;
}
.settings-user_items {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .settings-user_items {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.settings-user_button {
  border: 1px solid #ccc;
  padding: 8px 25px;
  border-radius: 4px;
  color: #ccc;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.78px;
}
.settings-user_text {
  font-size: 18px;
  letter-spacing: 0.7px;
}
@media screen and (max-width: 480px) {
  .settings-user_text {
    text-align: center;
  }
}
.settings-name_form {
  padding-top: 40px;
}
.settings-name_box {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 40px;
}
@media screen and (max-width: 600px) {
  .settings-name_box {
    justify-content: space-between;
  }
}
@media screen and (max-width: 537px) {
  .settings-name_box {
    flex-direction: column;
    align-items: start;
  }
}
.settings-name_title {
  width: 120px;
  font-size: 20px;
  font-weight: 500;
}
.settings-name_input {
  width: 300px;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}
.settings-name_input:focus {
  border-color: #ffd700;
}
@media screen and (max-width: 450px) {
  .settings-name_input {
    width: 100%;
  }
}
.settings-name-email {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 110px;
}
@media screen and (max-width: 600px) {
  .settings-name-email {
    justify-content: space-between;
    gap: 10px;
  }
}
@media screen and (max-width: 327px) {
  .settings-name-email {
    flex-direction: column;
    align-items: start;
  }
}
.settings-name-email_title {
  font-size: 20px;
  font-weight: 500;
}
.settings-name-email_name {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.settings-name-password {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 74px;
}
@media screen and (max-width: 600px) {
  .settings-name-password {
    justify-content: space-between;
    gap: 10px;
  }
}
@media screen and (max-width: 327px) {
  .settings-name-password {
    flex-direction: column;
    align-items: start;
  }
}
.settings-name-password_title {
  font-size: 20px;
  font-weight: 500;
}
.settings-name-password_btn {
  border: 1px solid #ccc;
  padding: 8px 25px;
  border-radius: 4px;
  color: #ffd700;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.78px;
}
.settings-name-inputs {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
  gap: 10px;
}
.settings-name-time_box {
  display: flex;
  align-items: start;
  justify-content: unset;
  gap: 10px;
  padding-top: 40px;
}
@media screen and (max-width: 600px) {
  .settings-name-time_box {
    justify-content: space-between;
    gap: 10px;
  }
}
@media screen and (max-width: 537px) {
  .settings-name-time_box {
    flex-direction: column;
    align-items: start;
  }
}
.settings-name-time_title {
  width: 170px;
  font-size: 20px;
  font-weight: 500;
}
.settings-name-mode_title {
  width: 200px;
  font-size: 20px;
  font-weight: 500;
}
.settings-name-mode_form {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: unset;
}
@media screen and (max-width: 600px) {
  .settings-name-mode_form {
    justify-content: space-between;
    gap: 10px;
  }
}
@media screen and (max-width: 537px) {
  .settings-name-mode_form {
    flex-direction: column;
    align-items: start;
  }
}/*# sourceMappingURL=Main.css.map */