@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  background: inherit;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #fff;
}

body.hidden {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 50px;
}
.nav-container {
  background-color: #000;
  max-width: 1360px;
  min-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 40px;
}
@media screen and (max-width: 930px) {
  .nav-list {
    gap: 7px;
  }
}
.nav-list_active {
  transform: translateX(0);
}
@media screen and (max-width: 1200px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    height: 100%;
    background: #f6f8f9;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    color: #000;
    z-index: 999;
    padding: 20px;
  }
}
@media screen and (max-width: 460px) {
  .nav-list {
    width: 100%;
  }
}
.nav-list.active {
  transform: translateX(0);
}
.nav-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  z-index: 999;
}
@media screen and (min-width: 1200px) {
  .nav-bg {
    display: none;
  }
}
.nav-bg.show {
  opacity: 1;
  visibility: visible;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 15px;
}
@media screen and (max-width: 930px) {
  .nav-links {
    gap: 7px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-links {
    flex-direction: column;
    align-items: start;
    gap: 24px;
    background: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
.nav-menu__close {
  position: absolute;
  top: 30px;
  right: 27px;
  border: none;
  background: #fff;
  padding: 11px;
  border-radius: 4px;
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav-menu__close {
    display: block;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 20px;
}
.nav-link {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.41px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1260px) {
  .nav-link {
    font-size: calc(15px + 1 * (100vw - 320px) / 940);
  }
}
.nav-link:hover {
  border-bottom: 1px solid #ffd700;
  color: #ffd700;
}
@media screen and (max-width: 1200px) {
  .nav-link {
    color: #000;
  }
}
.nav-logo__list {
  display: flex;
  align-items: center;
  justify-content: unset;
  background-color: transparent;
  height: 74px;
  padding: 14px;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1260px) {
  .nav-logo__list {
    font-size: calc(15px + 3 * (100vw - 320px) / 940);
  }
}
.nav-logo_image {
  width: 120px;
}
@media (max-width: 1260px) {
  .nav-logo_image {
    width: calc(90px + 30 * (100vw - 320px) / 940);
  }
}
.nav-menu {
  border: none;
  border-radius: 4px;
  display: none;
  background-color: white;
  padding: 6px;
}
@media screen and (max-width: 1200px) {
  .nav-menu {
    display: block;
  }
}
.nav-search_bar {
  position: relative;
  width: 410px;
  height: 43px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #000;
  color: #1d1c1c;
  outline: none;
  font-size: 16px;
}
.nav-search_input {
  position: absolute;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #000;
  color: #1d1c1c;
  outline: none;
  padding: 10px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 500;
}
.nav-search_input:focus {
  border-color: #ffd700;
}
.nav-search_btn {
  position: absolute;
  right: 20px;
  top: 9px;
  border: none;
  background-color: transparent;
}
.nav-pages {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;
}
.nav-all_btn {
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.nav-all_btn:hover {
  color: #ffd700;
}
.nav-login_links {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 1px;
}
.nav-login_link {
  color: #fff;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.nav-login_link:hover {
  color: #ffd700;
}
@media screen and (max-width: 875px) {
  .nav-login_link {
    display: none;
  }
}
.nav-user_icon {
  display: none;
}
@media screen and (max-width: 875px) {
  .nav-user_icon {
    display: block;
  }
}
.nav-favourites_link {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 6px;
  color: #fff;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.nav-favourites_link:hover {
  color: #ffd700;
}
@media screen and (max-width: 1080px) {
  .nav-favourites_text {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .nav-clock_text {
    display: none;
  }
}
.nav-dropdown {
  position: absolute;
  top: 45px;
  right: 150px;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  width: 350px;
  height: 0;
  transition: all 0.2s ease-in-out;
}
.nav-dropdown.active {
  opacity: 1;
  visibility: visible;
  height: 350px;
}/*# sourceMappingURL=Main.css.map */